include LICENSE
include README.md
include clickable/clickable.schema

recursive-include debian *
recursive-include docs *
recursive-include clickable/builders *
recursive-include clickable/commands *
recursive-include clickable/system *
recursive-include clickable/config *

recursive-exclude scripts *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude tests *
